@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-family: 'Ubuntu', sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 20px;
}

.cabecalho-img {
    width: 200px;
}

.cabecalho-titulo {
    font-weight: 400;
    font-size: 60px;
    color: white;
}

.cabecalho-subtitulo {
    font-weight: 200;
    font-size: 20px;
    color: white;
    font-style: italic;
}

.calculadora {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    flex-flow: row-reverse;
}

.calculadora-corpo {
    display: flex;
    flex-flow: column;
    border: 5px solid white;
    border-radius: 50px;
}

.calculadora-corpo-row1 {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    margin: 10px;
}

.calculadora-corpo-row2 {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    margin: 10px;
}

.calculadora-corpo-row3 {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    margin: 10px;
}

.span-meio {
    display: flex;
    margin: 5px;
    flex-flow: row;
    align-self: center;
    color: white;
}

input[type=number], select {
    width: 100%;
    padding: 10px 0px;
    margin: 8px 0;
    display: flex;
    flex-flow: row;
    border: 1px solid orangered;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
  }

.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 20px;
}

.sobre-titulo {
    font-weight: 400;
    font-size: 40px;
    color: white;
}

.sobre-descricao {
    max-width: 70%;
    line-height: 1.8rem;
    color: white;
}

.sobre-descricao-link {
    cursor: pointer;
    text-decoration: none;
    color: purple;
    font-weight: 400;
    font-style: italic;
}